@import "vars";
@import "fonts";

@import "global";

.main-nav {
  display: flex;
  justify-content: flex-start;
}

.main-logo {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.site-nav {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;

  &__link {
    display: block;
    padding: 55px 36px;

    font-size: 18px;
    line-height: 29px;
    text-decoration: none;
    color: $light-text;

    &:hover {
      text-decoration: underline;
    }
  }
}

.company-phone {
  padding: 55px 0;
  margin-left: auto;

  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  text-decoration: none;
  color: $dark-text;

  &:hover {
    text-decoration: underline;
  }
}

.section-title {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 72px;
  font-weight: bold;

  span {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      left: 0;
      bottom: 15px;
      z-index: -1;

      background-color: $accent-color;
    }
  }
}

.important-text {
  font-weight: bold;
  font-style: normal;
  color: $accent-color;
}

.proposal {
  &__inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;

    padding-top: 75px;
    padding-bottom: 90px;
    background-image: url("../img/lamps-and-cow.jpg");
    background-repeat: no-repeat;
    background-position: 600px 0;
    background-size: auto 100%;
  }

  &__title {
    max-width: 660px;
    //margin-top: 60px;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 330px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;

    font-size: 24px;
    line-height: 36px;
    color: $light-text;
  }

  &__form {
    display: flex;

    font-family: $form-font;
    font-size: 18px;
    line-height: 31px;
  }

  &__input {
    width: 195px;
    height: 57px;
    text-align: center;

    border: 1px solid #e1e1e1;
    border-right: none;
    border-radius: 0;
  }

  &__button {
    width: 195px;
    height: 57px;
    color: #ffffff;

    background-color: $accent-color;
    border: none;
  }
}

.about-us {
  &__inner {
    max-width: 824px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 90px;

    text-align: center;
  }

  &__text {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 36px;
  }

  &__list {
    padding-left: 427px;
    list-style: none;
    counter-reset: list-counter;

    background-image: url("../img/lamp.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item {
    position: relative;
    counter-increment: list-counter;

    padding-top: 75px;
    margin-bottom: 17px;

    font-size: 18px;
    line-height: 25px;

    &:first-child {
      padding-top: 55px;
    }

    &::before {
      content: counter(list-counter);
      position: absolute;
      width: 21px;
      height: 21px;
      top: 20px;
      right: 50%;
      margin-right: -10px;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 14px;
      color: $accent-color;

      border: 1px solid $accent-color;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &:first-child::before {
      top: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 61px;
      top: 0;
      right: 50%;
      z-index: 1;

      background-color: $accent-color;
    }

    &:first-child::after {
      height: 41px;
    }
  }
}

.partners {
  &__inner {
    display: flex;
    justify-content: space-between;

    padding-bottom: 10px;
  }

  &__text-column {
    max-width: 427px;
  }

  &__text {
    max-width: 250px;

    font-size: 24px;
    line-height: 36px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 717px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    width: 291px;
    margin-bottom: 66px;
  }
}
